button {
    outline: 0!important;
}
.btn--opacity {
    @apply transition hover:opacity-60;
}
.btn--opacity--child {
    .btn--opacity__target {
        @apply transition;
    }
    &:hover {
        .btn--opacity__target {
            @apply opacity-60;
        }
    }
}
.btn {
    @apply flex items-center bg-turqy text-sm text-white border-radius--40 px-10 py-5 cursor-pointer lg:px-5;
    span {
        @apply mr-3;
    }
    img {
        @apply transition;
        transform: translateX(0);
    }
    &:hover {
        img {
            transform: translateX(5px);
        }
    }
    &.btn--sm{
        @apply py-2 px-4 text-xs;
    }
}
.btn--circle{
    @apply w-10 h-10 rounded-full border border-solid border-turqy-border flex items-center justify-center;
}
.btn--border-turqy {
    @apply flex items-center text-sm text-turqy border-radius--40 px-10 py-5 cursor-pointer border border-solid border-turqy space-x-3 bg-white;
    img {
        @apply transition;
        transform: translateX(0);
    }
    &:hover {
        img {
            transform: translateX(5px);
        }
    }
}
.btn--arrow-down {
    img {
        transform: translate(0, 0);
    }
    &:hover {
        img {
            transform: translate(0, 5px);
        }
    }
}
.btn--ico {
    @apply w-[38px] h-[38px] flex items-center justify-center border-radius--50 border border-turqy;
}
.btn--tab {
    @apply flex items-center border border-solid border-turqy-lighter border-b-[5px] px-8 py-4 text-turqy text-[14px] transition hover:bg-turqy-lighter;
    &.nuxt-link-active {
        @apply border-turqy pointer-events-none;
    }
    .bullet {
        @apply w-[20px] h-[20px] border border-solid border-turqy flex items-center justify-center text-[10px] text-center border-radius--50 mr-1;
    }
    &.btn--error {
        .bullet {
            @apply border-redy text-redy;
        }
    }
    &.btn--tab-percent {
        .bullet {
            @apply w-[30px] h-[30px];
        }
    }
    &.btn--tab-disabled {
        @apply text-grayy-lighter pointer-events-none;
    }
}
.btn--between{
    @apply justify-between;
}

.btn--protected-area__clear {
    position: absolute;
    right: 10px;
    top: 28px;
}
.btn--small {
    @apply h-[27px] w-auto px-3 py-0 border-radius--btn-small;
    &:hover {
        img {
            transform: translateX(0);
        }
    }
}

