.elinor__badge {
    @apply mb-8 transition hover:bg-grayy-badge;
    .header {
        @apply flex items-center justify-between border-b border-grayy-border pb-7 mb-5;
        span {
            @apply block;
            &.title {
                @apply mb-2 text-grayy-lighter;
            }
            &.subtitle {
                @apply text-[20px];
            }
        }
    }
    .sublist {
        @apply flex items-center;
        li {
            @apply flex flex-col mr-10;
            span {
                &.label {
                    @apply mb-2 text-[12px] text-grayy-lighter;
                }
            }
            &.owner {
                span {
                    &.label {
                        @apply text-[16px];
                    }
                    &.data {
                        top: -2px;
                    }
                }
            }
            &.avatar {
                @apply mr-3;
            }
            &.view {
               @apply flex-1 items-end mr-0; 
            }
        }
        &:last-child {
            @apply mb-0;
        }
    }
    &.elinor__badge--empty {
        header {
            @apply border-0 mb-0 pb-0;
            span {
                &.title {
                    @apply mb-0;
                }
            }
        }
    }
   
}
.elinor__avatar {
    @apply w-[36px] h-[36px] flex items-center justify-center border-radius--50;
    span {
        @apply text-white text-[14px];
    }
    &.elinor__avatar--red {
        @apply bg-redy;
    }
}
.elinor__tabs {
    @apply flex border-b border-grayy-border;
}
.elinor__data-grid {
    @apply flex flex-wrap;
    margin: -1.25rem;
    .elinor__data-sublock {
        @apply w-1/2 p-5;
    }
    .elinor__data-sublist {
        @apply p-3;
    }
    .elinor__data { 
        @apply flex flex-col w-1/2 p-5;
        .title {
            @apply mb-1 text-[12px] text-grayy-lighter;
        }
        &.elinor__data--full {
            @apply w-full;
        }
    }
    &.elinor__data-grid--3-5 {
        @apply w-3/5;
    }
}
.elinor__data-wrap {
    @apply flex justify-between;
}
.elinor__people {
    @apply min-w-[270px] self-start sticky top-[90px];
    li {
        @apply my-4;
        &.elinor__people-header {
            @apply mt-0;
        }
        &.elinor__people-data {
            @apply flex items-center text-[12px] text-grayy-lighter;
            span {
                @apply text-[16px] text-grayy w-[20px];
            }
        }
        &:last-child {
            @apply border-t border-grayy-border pt-4 mb-0;
        }
    }
}
.elinor__data-separator {
    @apply w-full h-px bg-grayy-border my-10;
}
.elinor__map {
    @apply h-[55vh];
    .map__legend {
        @apply absolute left-[20px] bottom-[20px] bg-turqy-lighter p-4 z-10;
    }
}
.search__results {
    @apply text-grayy-lighter;
}
.elinor__loader {
    @apply w-screen fixed bottom-0 left-0 z-20 text-grayy-lighter text-[12px] py-2;
    .loader__group {
        @apply flex items-center justify-center z-10;
        svg {
            @apply w-4 mr-2 mb-0;
        } 
    }
    .loader__bg {
        @apply w-full h-full absolute top-0 left-0 bg-grayy-border;
    }
}
.elinor__popup {
    @apply w-screen h-screen fixed top-0 left-0 z-40;
    .popup__overlay {
        @apply w-full h-full absolute top-0 left-0 bg-white opacity-50;
    }
    .popup__box {
        @apply w-[1000px] center-both z-10 shadow-xl;
        .popup__header {
            @apply flex justify-between items-center bg-turqy-lighter px-20 py-10 rounded-t-xl;
            span {
                @apply text-[22px];
            }
        }
        .popup__content {
            @apply bg-white px-20 py-10 rounded-b-xl;
        }
    }
}

.elinor__survey-navigator {
    @apply flex justify-between items-center border-b border-grayy-border py-10;
    li {
        @apply flex-1 flex justify-center;
        a {
            @apply w-[12px] h-[12px] bg-turqy border-radius--50 z-10;
            &.is--uncomplete {
                @apply bg-grayy-border;
            }
        }
        &.elinor__survey-complete {
            @apply flex items-center bg-white z-10;
            .index {
                @apply min-w-[42px] min-h-[42px] flex items-center justify-center border-radius--50 border border-grayy-border mr-2;
            }
            .text {
                span {
                    @apply leading-[16px];
                    &:last-child {
                        @apply text-base text-[12px] leading-[12px] text-grayy-lighter;
                    }
                }
            }
        }
    }
    &:after {
        content: '';
        @apply center-v w-full h-px bg-grayy-border;
    }
}
.elinor__survey-list {
    @apply mt-10;
    .elinor__survey-question {
        @apply flex flex-wrap justify-between mb-8;
        .question {
            @apply text-[20px] leading-[30px] font-bold;
        }
        .txt {
            @apply flex items-center text-[12px] text-grayy-lighter mb-2;
            &.txt--explanation {
                @apply mt-8;
            }
            .txt__mark {
                @apply w-[12px] h-[12px] bg-turqy border-radius--50 mr-2;
            }
        }
        .answer {
            @apply leading-[26px];
        }
        .left {
            @apply w-1/2 pr-8;
        }
        .right {
            @apply w-1/2 border-l border-grayy-border pl-8;
        }
        &.is--uncomplete {
            .txt {
                .txt__mark {
                    @apply bg-grayy-border
                }
            }
        }
        .uncompleted {
            @apply flex flex-col;
        }
        .txt__uncomplete {
            @apply text-redy;
        }
        .btn--uncomplete {
            @apply mt-8 self-start;
        }
    }
}
.elinor__notifications {
    @apply fixed bottom-0 w-full bg-grayy text-white z-50 text-center text-[12px] py-2;
    transform: translateY(100%);
}
.elinor__question {
    .question {
        @apply mt-16;
        .question__index {
            @apply flex items-center text-[18px];
            .bullet {
                @apply w-[12px] h-[12px] border-radius--50 bg-turqy mr-2;
            }
        }
        .question__title {
            @apply mt-5 text-[20px] leading-[30px] font-bold;
        } 
    }
    .answers {
        @apply mt-10;
        header {
            @apply flex items-center justify-between;
            p {
                @apply text-[12px];
            }
        }
    }
    .question__nav {
        @apply mt-6;
        ul {
            @apply flex justify-between items-center;
        }
    }
}
.elinor__question-help {
    .elinor__help-border {
        @apply border-t border-grayy-border pt-16;
    }
    .elinor__help {
        @apply mb-20;
        header {
            h3 {
                @apply text-[20px] font-bold mb-8;
            }
        }
        ul {
            @apply max-w-lg mx-auto;
            li {
                @apply text-base leading-[26px] mb-8;
            }
        }
        .image {
            @apply max-w-lg mx-auto;
            img {
                @apply w-full;
            }
        }
    }
}
.elinor__back {
    @apply flex items-center space-x-2;
    span {
        @apply text-[12px] leading-[12px] text-turqy;
    }
}
.elinor-fade-enter-active, .elinor-fade-leave-active {
    @apply transition;
}
.elinor-fade-enter, .elinor-fade-leave-to {
    @apply opacity-0;
}
.elinor-slide-up-enter-active, .elinor-slide-up-leave-active {
    @apply transition;
}
.elinor-slide-up-enter, .elinor-slide-up-leave-to {
    transform: translateY(100%);
}
//cards
.card{
    &.card--sign-in{
        @apply bg-white p-8 ml-32 border-radius--20;

        .card--sign-in__info{
            @apply flex items-center justify-between;
        }
        .card--sign-in__separator{
            @apply mt-8 mb-11 w-96;
        }
    }
}