.footer--main {
  @apply relative w-full bg-turqy-lighter bottom-0 py-10 text-turqy flex-col items-center justify-center lg:pl-0 hidden;
  .container {
    @apply flex justify-between items-center flex-col;
  }
  &.footer--main--max {
    padding-left: 48px;
    @apply md:pl-0;
  }
  .footer--main__wrapper {
    @apply pb-6 text-center;
    img {
      @apply mx-auto block;
    }
    ul {
      @apply flex items-center justify-center pt-3;
      li {
        @apply relative px-2 text-sm;
        &::after {
          content: '-';
          @apply absolute top-0 bottom-0 my-auto px-1;
        }
        &:last-child {
          &::after {
            @apply hidden;
          }
        }
      }
    }
  }
  .footer--main__bottom {
    @apply text-center text-sm w-2/12 lg:w-8/12;
  }
}

.footer--map {
  @apply bg-turqy-lighter py-14;

  p {
    @apply text-grayy-lighter text-[12px];
  }
}
