.form {
  @apply mt-20 sm:mt-6;
  .form__group {
    .form__row {
      @apply flex space-x-5 mb-5 sm:flex-col sm:mb-0;
      & > :not([hidden]) ~ :not([hidden]) {
        @apply sm:mx-0;
      }

      // For rows with justify-between (like Remember me / Forgot password), stack vertically and align left on tablet and below
      &.justify-between {
        @media (max-width: $tablet-breakpoint) {
          @apply flex-col items-start gap-2;
          justify-content: flex-start !important;
        }

        // Ensure "Remember me" label matches "Forgot password?" font size
        .custom-radio__label {
          @apply text-sm;
        }
      }

      &.form__row--separator {
        @apply mt-6 w-full h-px bg-grayy-border;
        &.form__row--separator--16 {
          @apply mt-16;
        }
        &.form__row--separator--20 {
          @apply mt-20;
        }
      }
      &.form__row--mt-8 {
        @apply mt-8;
      }
      &.form__row--mt-7 {
        @apply mt-7;
      }
      &.form__row--mt-16 {
        @apply mt-16;
      }
      &:last-child {
        @apply mb-0;
      }
      &.form__row--mt-24 {
        @apply mt-24;
      }
    }
  }
  &.form--mt-0 {
    @apply mt-0;
  }

  &.form--sign-in {
    @apply mt-0;
  }

  &.form--organization {
    @apply mt-1;
  }

  &.form--assessment {
    @apply mt-2;
  }
}

//input
.input {
  @apply w-full sm:mb-3;
  &--error {
    @apply border-[#D63C3C] #{!important};
  }
  input:not(.vs__search),
  textarea:not(.vs__search) {
    @apply w-full px-4 py-[11px] bg-white border rounded-[12px] hover:border-[#43A0BD] border-solid border-[#DADADA] text-grayy text-base font-medium focus:border-grayy-lighter;
    &::placeholder {
      @apply text-[#9C9C9C] opacity-50;
    }
  }
  textarea {
    @apply h-[200px] resize-none;
  }
  .character-counter {
    @apply text-right text-sm text-[#9C9C9C] mt-1 font-medium;
  }
  .label {
    @apply block text-[16px] leading-[30px] mb-2 font-semibold;
    &.label--stripped {
      span {
        @apply bg-white z-10 pr-10;
      }
      &:after {
        content: '';
        @apply center-v left-0 w-full h-px bg-grayy-border;
      }
    }
    &.label--bold {
      @apply font-bold;
    }

    &.label--tit {
      @apply font-bold text-[16px];
    }
  }
  .legend {
    @apply block text-[12px] text-grayy-lighter;
  }
  .note {
    @apply block text-[14px] leading-[24px]  text-[#9C9C9C] mb-2;

    a {
      @apply text-[#43A0BD] hover:underline;
    }
  }
  .input__tooltip {
    @apply w-[22px] h-[22px] border-[2px] border-solid border-turqy border-radius--50 absolute right-6 top-7 flex items-center justify-center text-xs text-turqy cursor-pointer transition hover:opacity-60;
  }
  &.input--pr {
    input,
    textarea {
      @apply pr-16;
    }
  }
  &.input--button {
    button {
      @apply mt-8;
    }
  }
  &.input--checkbox {
    @apply flex items-center;
    .checkbox {
      @apply w-[20px] h-[20px] border-radius--50 border border-solid border-turqy bg-white;
      img {
        @apply center-both opacity-0;
      }
      input {
        @apply w-[20px] h-[20px] opacity-0 z-10 transition cursor-pointer;
        &:checked {
          & + img {
            @apply opacity-100 transition;
          }
        }
      }
    }
    label {
      @apply ml-2 text-grayy-lighter text-xs cursor-pointer;
    }
  }
  &.input--radios {
    @apply flex items-start justify-start flex-col;
    .radios__wrap {
      @apply flex items-center space-x-10;
      .radio__wrap {
        @apply flex items-center;
        .radio {
          @apply w-[16px] h-[16px] border border-turqy border-solid border-radius--50;
          input {
            @apply w-[16px] h-[16px] m-0 p-0 opacity-0 cursor-pointer;
          }
          img {
            @apply w-[16px] center-both z-10 pointer-events-none ml-[2px] transition opacity-0;
          }
          input:checked + img {
            @apply opacity-100;
          }
        }
        .label {
          @apply m-0 ml-4 text-[14px] cursor-pointer;
        }
      }
    }
    &.input--radios-question {
      @apply flex items-start flex-row gap-2;
      .label {
        @apply text-[16px] mb-0 pl-1;
        span {
          &:first-child {
            @apply absolute font-semibold left-0 top-0;
          }
        }
      }
    }
  }
  &.input--switch {
    .switch__wrap {
      @apply flex items-center;
      .label {
        @apply ml-4 mb-0;
      }
    }
    .switch {
      @apply relative inline-block w-12 h-7;

      input {
        @apply opacity-0 w-full h-full absolute z-10;

        &:checked + .switch__slider {
          @apply bg-turqy;
        }
        &:checked + .switch__slider:before {
          transform: translate(1.25rem);
        }
        &:focus + .switch__slider {
          @apply shadow-sm;
        }
      }
      .switch__slider {
        @apply absolute cursor-pointer inset-0 bg-grayy-lighter rounded-full transition-all duration-500 ease-in-out;
        &::before {
          content: '';
          @apply absolute  w-5 h-5 left-1 bottom-1 bg-white rounded-full transition-all duration-500 ease-in-out;
        }
      }
    }
  }
  &.input--ico {
    .input__ico {
      @apply flex items-center center-v;
      right: 16px; // Moved 8px to the right (from 24px/right-6 to 16px)
      span {
        @apply w-[1px] h-[10px] bg-grayy-border mr-3;
      }
      button {
        // Ensure icon has white background to prevent overlapping with placeholder text
        // Add extra padding (+2px on all sides = 10px total) to better cover placeholder text
        background-color: white;
        padding: 10px;
      }
    }
  }
  &.input--file {
    .file {
      input {
        @apply absolute w-full h-full z-10 opacity-0;
      }
      .file__drag {
        @apply w-full h-[220px] flex items-center justify-center border border-dashed border-black mb-10;
        img {
          @apply center-both;
        }
        span {
          @apply text-[12px];
        }
      }
    }
    .file__buttons {
      @apply flex justify-between items-center mt-4;
    }
  }

  &.input--file .file .file__drag {
    @apply flex flex-col items-center justify-center gap-2 cursor-pointer mb-0;
    @apply border border-dashed rounded-[12px] border-[#DADADA] h-auto px-[25px] py-[23px];

    span {
      @apply text-[#9C9C9C] font-montserrat text-sm font-medium leading-6;
    }
  }
  &.input--file .file .file__drag img {
    @apply w-6 h-6 relative top-0 left-0 translate-y-0 translate-x-0;
  }

  &.input--flexy {
    @apply flex flex-wrap items-center;
    > * {
      @apply w-2/6 mb-0;
      &:last-child {
        @apply pl-4 w-4/6;
      }
    }
    .label {
      @apply text-[14px];
    }
  }
  &.input--1-2 {
    @apply w-1/2 sm:w-full;
  }
  &.input--1-3 {
    @apply w-1/3 sm:w-full;
  }
  &.input--1-4 {
    @apply w-1/4 md:w-2/4 sm:w-full;
  }
  &.input--3-4 {
    @apply w-3/4 md:w-2/4 sm:w-full;
  }
  &.input--1-5 {
    @apply w-1/5 md:w-2/4 sm:w-full;
  }
  &.input--1-6 {
    @apply w-1/6 md:w-2/4 sm:w-full;
  }
  &.input--date {
    .date__caret {
      @apply center-v right-3 border-l border-grayy-border pl-3 pointer-events-none z-10;
    }
    .vdp-datepicker__calendar header {
      @apply z-10;
    }
    .vdp-datepicker__calendar .cell:hover {
      @apply bg-transparent;
    }
    .vdp-datepicker__calendar .cell {
      @apply text-[12px] text-grayy-lighter;
    }
    .vdp-datepicker__calendar .cell.day:hover {
      @apply border-turqy;
    }
    .vdp-datepicker__calendar .cell.today {
      @apply bg-transparent border border-turqy;
    }
    .vdp-datepicker__calendar .cell.selected {
      @apply bg-turqy text-white;
    }
    .vdp-datepicker__calendar .day__month_btn.up {
      @apply text-[14px] text-grayy;
    }
  }
  &.input--multiselect {
    &.input--error {
      .multiselect__tags {
        @apply border-red-500 #{!important};
      }
    }
    .multiselect {
      @apply min-h-0;
    }
    .multiselect__placeholder {
      @apply text-[#9C9C9C] whitespace-nowrap;
    }
    .multiselect__select {
      @apply hidden;
    }

    .multiselect__content-wrapper {
      width: fit-content;
      min-width: 100%;
    }

    .multiselect__tags {
      @apply w-full px-4 py-[11px] bg-white border border-solid border-grayy-border text-grayy text-base font-medium min-h-0 rounded-[12px] pr-[36px] focus:border-grayy-lighter text-[12px] relative;
      &::after {
        content: '';
        @apply w-6 h-6 top-1/2 -translate-y-1/2 right-2 absolute;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none"><path d="M5.99976 6.67701C5.87926 6.67701 5.76709 6.65776 5.66326 6.61926C5.55942 6.58076 5.46067 6.51476 5.36701 6.42126L0.872758 1.92701C0.734425 1.78851 0.663591 1.61443 0.660258 1.40476C0.657091 1.19526 0.727925 1.01801 0.872758 0.873012C1.01776 0.728178 1.19342 0.655762 1.39976 0.655762C1.60609 0.655762 1.78176 0.728178 1.92676 0.873012L5.99976 4.94626L10.0728 0.873012C10.2113 0.734678 10.3853 0.663845 10.595 0.660512C10.8045 0.657345 10.9818 0.728178 11.1268 0.873012C11.2716 1.01801 11.344 1.19368 11.344 1.40001C11.344 1.60635 11.2716 1.78201 11.1268 1.92701L6.63251 6.42126C6.53884 6.51476 6.44009 6.58076 6.33626 6.61926C6.23242 6.65776 6.12026 6.67701 5.99976 6.67701Z" fill="%239C9C9C"/></svg> ')
          center center no-repeat;
      }
      input {
        @apply p-0 border-0 mb-0 min-h-0 focus:border-grayy-lighter;
      }
    }

    .multiselect--active {
      .multiselect__tags {
        @apply border-turqy;
      }
      .multiselect__tags::after {
        @apply rotate-180;
      }

      .multiselect__placeholder {
        @apply block mb-[0] #{!important};
      }
    }
    .multiselect__placeholder {
      @apply mb-[-8px] #{!important};
    }
    .multiselect__placeholder,
    .multiselect__single {
      @apply mb-0 p-0 text-[#9C9C9C] text-base font-medium min-h-0 overflow-hidden whitespace-nowrap;
    }
    .multiselect__option--highlight {
      @apply bg-[#E4F0F4] text-turqy;
    }
    .multiselect__option {
      @apply text-[16px] leading-[20px];
    }
    .multiselect__caret {
      @apply hidden;
    }

    &:not(.tags-nostyle) {
      .multiselect__tags-wrap {
        @apply flex flex-wrap;
      }
      .multiselect__tag {
        @apply bg-[#E4F0F4] transition-all duration-300 text-turqy mb-1 text-[14px] font-medium leading-6 mr-1 pl-3 pr-[34px] py-[6px] rounded-full;
      }
      .multiselect__tag-icon:after {
        @apply hidden;
      }
      .multiselect__tag-icon {
        @apply w-[24px] h-[24px] top-1/2 -translate-y-1/2 right-2;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M4.52211 5.5655L1.27586 8.8115C1.13103 8.9565 0.955445 9.02733 0.749112 9.024C0.542612 9.02083 0.366946 8.94683 0.222112 8.802C0.0772792 8.65717 0.00486242 8.47992 0.00486242 8.27025C0.00486242 8.06059 0.0772792 7.88333 0.222112 7.7385L3.45861 4.502L0.212612 1.28075C0.0676124 1.13592 -0.00322097 0.958667 0.00011236 0.749001C0.00327903 0.539501 0.0772792 0.362334 0.222112 0.2175C0.366946 0.0725003 0.544196 0 0.753862 0C0.963529 0 1.14078 0.0725003 1.28561 0.2175L4.52211 3.4635L7.74336 0.2175C7.8882 0.0725003 8.06378 0 8.27011 0C8.47661 0 8.65228 0.0725003 8.79711 0.2175C8.95228 0.3725 9.02986 0.552251 9.02986 0.756751C9.02986 0.961251 8.95228 1.13592 8.79711 1.28075L5.56061 4.502L8.80661 7.74825C8.95161 7.89309 9.02411 8.06867 9.02411 8.275C9.02411 8.4815 8.95161 8.65717 8.80661 8.802C8.65161 8.95717 8.47186 9.03475 8.26736 9.03475C8.06286 9.03475 7.8882 8.95717 7.74336 8.802L4.52211 5.5655Z" fill="%2343A0BD"/></svg>')
          center no-repeat;
      }

      .multiselect__tag:hover {
        @apply bg-turqy text-white;

        .multiselect__tag-icon {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M4.52211 5.5655L1.27586 8.8115C1.13103 8.9565 0.955445 9.02733 0.749112 9.024C0.542612 9.02083 0.366946 8.94683 0.222112 8.802C0.0772792 8.65717 0.00486242 8.47992 0.00486242 8.27025C0.00486242 8.06059 0.0772792 7.88333 0.222112 7.7385L3.45861 4.502L0.212612 1.28075C0.0676124 1.13592 -0.00322097 0.958667 0.00011236 0.749001C0.00327903 0.539501 0.0772792 0.362334 0.222112 0.2175C0.366946 0.0725003 0.544196 0 0.753862 0C0.963529 0 1.14078 0.0725003 1.28561 0.2175L4.52211 3.4635L7.74336 0.2175C7.8882 0.0725003 8.06378 0 8.27011 0C8.47661 0 8.65228 0.0725003 8.79711 0.2175C8.95228 0.3725 9.02986 0.552251 9.02986 0.756751C9.02986 0.961251 8.95228 1.13592 8.79711 1.28075L5.56061 4.502L8.80661 7.74825C8.95161 7.89309 9.02411 8.06867 9.02411 8.275C9.02411 8.4815 8.95161 8.65717 8.80661 8.802C8.65161 8.95717 8.47186 9.03475 8.26736 9.03475C8.06286 9.03475 7.8882 8.95717 7.74336 8.802L4.52211 5.5655Z" fill="%23ffffff"/></svg>')
            center no-repeat;
        }
      }
    }

    &.tags-nostyle {
      .multiselect__tags-wrap {
        @apply flex flex-nowrap overflow-hidden;

        .multiselect__tag {
          @apply bg-transparent p-0 block m-0 overflow-visible mr-[4px];
          span {
            @apply text-base font-medium leading-[30px] text-[#2E2E2E];
          }

          .multiselect__tag-icon {
            display: none;
          }

          &:not(:last-child) {
            span {
              &:after {
                content: ', ';
                @apply text-base font-medium leading-[30px] text-[#2E2E2E];
              }
            }
          }
        }
      }
    }

    .multiselect__wrap {
      &.multiselect__wrap--1-3 {
        @apply w-1/3 sm:w-1/2;
      }
      &--map {
        .multiselect__tags {
          @apply py-2;
        }
      }
    }
    .multiselect__extra {
      @apply mt-8;

      .btn-row {
        display: flex;
      }
    }
    .multiselect__form {
      @apply relative ml-8 pl-14 pt-4 border-l border-grayy-border;
      &:before {
        content: '';
        @apply absolute top-14 left-0 block w-12 h-px bg-grayy-border;
      }
    }
  }
  &.input--order {
    @apply flex flex-row items-center bg-white z-10 w-auto;

    .multiselect__tags {
      @apply py-2 px-8 border-0;
    }

    .multiselect__caret {
      @apply border-0 pl-0;
    }

    .multiselect__single {
      @apply text-turqy;
    }
  }

  .multiselect--active {
    .multiselect__tags::after {
      @apply rotate-180;
    }
  }
}

.form__legend {
  @apply text-sm;
  strong {
    @apply text-xl font-bold mb-2;
  }
  a {
    @apply text-turqy;
  }
}

//mapboxgl-ctrl-geocoder

.mapboxgl-ctrl-geocoder {
  @apply z-10;
  .mapboxgl-ctrl-geocoder--icon {
    @apply absolute top-5 right-6 z-10;
    &-search {
      @apply w-12 h-7 fill-current text-turqy border-l border-grayy-border pl-3;
    }
  }
  .mapboxgl-ctrl-geocoder--pin-right {
    @apply absolute right-0 top-0 py-6;
    .mapboxgl-ctrl-geocoder--icon {
      @apply right-0 w-12 h-7 mr-20;
      &-loading {
        @apply hidden;
        & > * {
          &:first-child {
            @apply fill-current text-turqy;
          }
          @apply fill-current text-grayy-lighter;
        }
      }
    }
    .mapboxgl-ctrl-geocoder--button {
      @apply cursor-pointer hover:opacity-60;
      .mapboxgl-ctrl-geocoder--icon {
        @apply h-8 w-4 mr-1 mt-5 fill-current text-grayy hidden;
      }
    }
  }
  .suggestions-wrapper {
    @apply border-b border-l border-r border-grayy-border rounded-b-lg absolute bg-white w-full;

    .mapboxgl-ctrl-geocoder--suggestion {
      @apply text-xs p-3 cursor-pointer text-grayy hover:bg-turqy-lighter;
      .mapboxgl-ctrl-geocoder--suggestion-address {
        @apply text-grayy-lighter;
      }
    }
    .mapbox-gl-geocoder--no-results {
      @apply text-xs p-3 text-grayy;
    }
  }
}

.tit-row {
  @apply justify-between items-center;
  .label {
    @apply mb-0;
  }
}
