.form {
    @apply mt-20;
    .form__group {
        .form__row {
            @apply flex space-x-5 mb-6;
            .input {
                @apply w-full;
                input:not(.vs__search), textarea:not(.vs__search) {
                    @apply w-full px-6 py-5 bg-white border border-solid border-grayy-border text-grayy text-base font-medium focus:border-grayy-lighter;
                    &::placeholder {
                        @apply text-grayy-lighter;
                    }
                }
                textarea {
                    @apply h-[200px] resize-none;
                }
                .label {
                    @apply block text-[12px] mb-3;
                    &.label--stripped {
                        span {
                            @apply bg-white z-10 pr-10;
                        }
                        &:after {
                            content: '';
                            @apply center-v left-0 w-full h-px bg-grayy-border;
                        }
                    }
                }
                .legend {
                    @apply block text-[12px] text-grayy-lighter;
                }
                .input__tooltip {
                    @apply w-[22px] h-[22px] border-[2px] border-solid border-turqy border-radius--50 absolute right-6 top-7 flex items-center justify-center text-xs text-turqy cursor-pointer transition hover:opacity-60;
                }
                &.input--pr {
                    input, textarea {
                        @apply pr-16;
                    }
                }
                &.input--button {
                    button {
                        @apply mt-8;
                    }
                }
                &.input--checkbox {
                    @apply flex items-center;
                    .checkbox {
                        @apply w-[25px] h-[25px] border-radius--50 border border-solid border-turqy bg-white;
                        img {
                            @apply center-both opacity-0;
                        }
                        input {
                            @apply w-[25px] h-[25px] opacity-0 z-10 transition cursor-pointer;;
                            &:checked {
                                & + img {
                                    @apply opacity-100 transition;
                                }
                            }
                        }
                    }
                    label {
                        @apply ml-2 text-grayy-lighter text-xs cursor-pointer;
                    }
                }
                &.input--radios {
                    .radios__wrap {
                        @apply flex items-center space-x-10;
                        .radio__wrap {
                            @apply flex items-center;
                            .radio {
                                @apply w-[22px] h-[22px] border border-turqy border-solid border-radius--50;
                                input {
                                    @apply w-[22px] h-[22px] m-0 p-0 opacity-0 cursor-pointer;
                                }
                                img {
                                    @apply w-[22px] center-both z-10 pointer-events-none ml-[2px] transition opacity-0;
                                }
                                input:checked+ img {
                                    @apply opacity-100;
                                }
                            }
                            .label {
                                @apply m-0 ml-4 text-[14px] cursor-pointer;
                            }
                        }
                    }
                    &.input--radios-question {
                        @apply flex items-start;
                        .radios__wrap {
                            @apply mr-4;
                        }
                        .label {
                            @apply text-[16px] mb-0 pl-4;
                            span {
                                &:first-child {
                                    @apply absolute font-semibold left-0 top-0;
                                }
                            }
                        }
                    }
                }
                &.input--ico {
                    .input__ico {
                        @apply flex items-center center-v right-6;
                        span {
                            @apply w-[1px] h-[10px] bg-grayy-border mr-3;
                        }
                    }
                }
                &.input--file {
                    .file {
                        input {
                            @apply absolute w-full h-full z-10 opacity-0;
                        }
                        .file__drag {
                            @apply w-full h-[220px] flex items-center justify-center border border-dashed border-black mb-6;
                            img {
                                @apply center-both;
                            }
                            span {
                                @apply text-[12px];
                            }
                        }
                        .file__buttons {
                            @apply flex justify-between items-center;
                        }
                    }
                }
                &.input--flexy {
                    @apply flex flex-wrap items-center;
                    > * {
                        @apply w-2/6 mb-0;
                        &:last-child {
                            @apply pl-4 w-4/6;
                        }
                    }
                    .label {
                        @apply text-[14px];
                    }
                }
                &.input--1-2 {
                    @apply w-1/2;
                }
                &.input--1-3 {
                    @apply w-1/3;
                }
                &.input--1-4 {
                    @apply w-1/4;
                }
                &.input--1-5 {
                    @apply w-1/5;
                }
                &.input--date {
                    .date__caret {
                        @apply center-v right-3 border-l border-grayy-border pl-3 pointer-events-none z-10;
                    }
                    .vdp-datepicker__calendar header {
                        @apply z-10;
                    }
                    .vdp-datepicker__calendar .cell:hover{
                        @apply bg-transparent;
                    }
                    .vdp-datepicker__calendar .cell{
                        @apply text-[12px] text-grayy-lighter;
                    }
                    .vdp-datepicker__calendar .cell.day:hover{
                        @apply border-turqy;
                    }
                    .vdp-datepicker__calendar .cell.today{
                        @apply bg-transparent border border-turqy;
                    }
                    .vdp-datepicker__calendar .cell.selected{
                        @apply bg-turqy text-white;
                    }
                    .vdp-datepicker__calendar .day__month_btn.up {
                        @apply text-[14px] text-grayy;
                    }
                }
                &.input--multiselect {
                    .multiselect {
                        @apply min-h-0;
                    }
                    .multiselect__placeholder {
                        @apply text-grayy-lighter;
                    }
                    .multiselect__select {
                        @apply hidden;
                    }
                    .multiselect__tags {
                        @apply w-full px-6 py-5 bg-white border border-solid border-grayy-border text-grayy text-base font-medium min-h-0 rounded-none pr-[50px] focus:border-grayy-lighter text-[12px];
                        input {
                            @apply p-0 border-0 mb-0 min-h-0 focus:border-grayy-lighter;
                        }
                    }
                    .multiselect__placeholder, .multiselect__single {
                        @apply mb-0 p-0 text-grayy text-base font-medium min-h-0;
                    }
                    .multiselect__option--highlight {
                        @apply bg-turqy-lighter text-grayy;
                    }
                    .multiselect__option {
                        @apply text-[12px];
                    }
                    .multiselect__caret {
                        @apply center-v right-3 border-l border-grayy-border pl-3 pointer-events-none z-10;
                    }
                    .multiselect__tags-wrap {
                        @apply flex flex-wrap;
                    }
                    .multiselect__tag {
                        @apply bg-white text-grayy-lighter border border-grayy-border mb-1 mr-1 px-2 py-[5px] pr-10;
                        border-radius: 20px;
                    }
                    .multiselect__tag-icon:after {
                        @apply text-grayy-lighter text-[20px] center-both font-light;
                    }
                    .multiselect__tag-icon {
                        border-radius: 0;
                        @apply hover:bg-grayy-border;
                    }

                }
            }
            &.form__row--separator {
                @apply mt-6 w-full h-px bg-grayy-border;
                &.form__row--separator--16 {
                    @apply mt-16;
                }
                &.form__row--separator--20 {
                    @apply mt-20;
                }
            }
            &.form__row--mt-16 {
                @apply mt-16;
            }
            &:last-child {
                @apply mb-0;
            }

        }
    }
    &.form--mt-0 {
        @apply mt-0;
    }
    &.form--sign-in{
        @apply mt-11;
    }
}
