.header--main {
    @apply bg-turqy-lighter h-[70px] sticky top-0 z-20;

    .header--main__wrapper {
        @apply h-full;

        ul {
            @apply h-full flex items-center justify-end py-5 pr-16 md:px-6;

            li {
                @apply text-turqy text-sm pl-2 sm:text-xs;

                &::after {
                    content: "|";
                    @apply pl-2;
                }

                &:nth-last-child(-n+2){
                    &::after {
                        @apply hidden md:inline-block;
                    }
                }

                &:last-child {
                    &::after {
                        @apply hidden;
                    }
                }
            }
        }
        .header--main__toggle-btn{
            @apply hidden md:block w-7
        }
    }
}

.header--page {
    h1 {
        @apply flex items-center;

        img {
            @apply mr-2;
        }
    }

    h2 {

        &.ma__name,
        &.assessment__name {
            @apply mt-2 text-[36px];
        }
    }

    p {
        &.assessment__year {
            @apply text-[20px] text-grayy-lighter;
        }
    }

    .header__save {
        @apply flex flex-col justify-end;

        button {
            @apply self-end mb-1;
        }

        p {
            @apply text-right text-[12px] text-grayy-lighter;
        }
    }
    .assessment__down {
        @apply mt-5 whitespace-nowrap;
        display: inline-flex;
    }
}

.header--ma-data {
    @apply mb-8;

    &.header--ma-data--stripped {
        h3 {
            @apply z-10 bg-white inline-block pr-5;
        }

        &:after {
            content: '';
            @apply w-full h-px absolute top-1/2 left-0 bg-grayy-border;
        }
    }
}

.header--map {
    @apply bg-turqy-lighter py-3;

    p {
        &:first-child {
            @apply text-[12px];
        }
    }
}

.header--map--flexy {
    @apply bg-turqy-lighter py-8;

    p,
    span {
        @apply text-grayy-lighter text-[12px];
    }

    .left {
        p {
            &:first-child {
                @apply text-grayy mb-6;
            }
        }
    }

    ul {
        li {
            @apply flex items-center mb-3;

            .pic__wrap {
                @apply w-[30px];
            }
        }
    }

    .container--lg {
        @apply flex justify-between space-x-10;
    }
}

.header--back {
    @apply flex items-center justify-between space-x-2;
}