.app__content {
    @apply transition;
    &.is--overlay {
        filter: blur(4px);
        max-height: 100vh;
        overflow: hidden;
    }
}
main {
    @apply flex flex-wrap;
    .page {
        @apply flex-1 py-16;
        &.page--signin{
            @apply py-0;
        }
    }
}