.app__content {
    @apply transition;
    &.is--overlay {
        -webkit-filter: blur(4px);
                filter: blur(4px);
        max-height: 100vh;
        overflow: hidden;
    }
}
main {
    @apply flex flex-wrap;
    .page {
        @apply flex-1 pt-16 pb-56;
        &.page--flushed{
            @apply pt-0;
        }
    }
}

