.app__content {
    @apply transition;
    &.is--overlay {
        -webkit-filter: blur(4px);
                filter: blur(4px);
        max-height: 100vh;
        overflow: hidden;
    }
}
main {
    @apply flex;
    min-height: 93vh;
    .page {
        @apply flex-1 pt-16 pb-64;
        &.page--flushed{
            @apply pt-0;
        }
    }
}

//grid
.g-grid--5{
    @apply grid grid-cols-5 gap-14;
}
.g-grid--2{
    @apply grid grid-cols-2 gap-14;
}

.g-grid--2-1-lg{
    @apply grid grid-cols-2 gap-4 lg:grid-cols-1;
}

.g-grid--3-1-md{
    @apply grid grid-cols-3 md:grid-cols-1 gap-14;
}

.g-grid--3-1-sm{
    @apply grid grid-cols-3 sm:grid-cols-1 gap-14;
}

.g-grid--4-1-sm{
    @apply grid grid-cols-4 sm:grid-cols-1 gap-14;
}

.g-colspan--2{
    @apply col-span-2;
}
.g-colspan--1-full-md{
    @apply col-span-1 md:col-span-full;
}

.g-colspan--2-full-md{
   @apply col-span-2 md:col-span-full; 
}

.g-colspan--3-full-md{
    @apply col-span-3 md:col-span-full;
}

.g-colspan--4-full-md{
    @apply col-span-4 md:col-span-full; 
 }

 .g-colspan--1-2-lg{
     @apply col-span-1 lg:col-span-2;
 }