.section {
  @apply mt-20;

  /*
      MODIFIERS
  */
  &.section--mt-0 {
      @apply mt-0;
  }

  .section--assessment-survey-list {
    @apply py-10 sm:py-6 m-0;
  }
  &.full-size {
      @apply w-full h-screen sm:h-auto sm:min-h-[calc(100vh-70px)] bg-[#E4F0F4] mt-0;

      .container {
          @apply flex flex-col p-6 h-full;
          @media (min-width: 769px) {
            @apply flex flex-col items-center justify-center p-6 h-full;
          }

          .button-container {
              @apply flex flex-col gap-4;
              .btn--border-white {
                  @apply flex items-center gap-2 bg-[#43A0BD] hover:bg-[#3A90AB] rounded-full justify-center py-4 px-6 transition-all duration-300;
                  .btn--opacity__target {
                      @apply text-white opacity-100;
                  }
              }
              .create-account-link {
                  @apply flex items-center gap-2 text-[#43A0BD] border border-[#43A0BD] hover:bg-[#3A90AB] hover:text-white hover:border-[#3A90AB] rounded-full justify-center py-2 px-6 transition-all duration-300 font-medium;
              } 
          }
      }
      
  }
  
  &.section--mt-10 {
      @apply mt-10;
  }

  &.section--button {
      .container {
          @apply flex justify-end sm:justify-start sm:mt-6;
      }
  }

  &.section--mt-medium {
      @apply mt-10;
  }

  &.section--filters {
      @apply sm:mt-6;
      ul {
          @apply flex items-center justify-between py-5 space-x-5 border-b border-t border-grayy-border sm:flex-wrap;
          & > :not([hidden]) ~ :not([hidden]) {
              @apply sm:mx-0 sm:flex-auto;
          }
          li {
              &:first-child {
                  @apply flex-1 sm:flex-auto sm:mb-6;
              }
          }

          .form {
              @apply mt-0;
          }
      }
  }
  &.section--intro-full {
      @apply py-10 border-b border-t border-grayy-border sm:flex-wrap;
  }

  &.section--tags {
      @apply py-10 border-b border-t border-grayy-border sm:flex-wrap;
      &.section--tags-filter {
          @apply mt-0 py-4 border-t-0;
          ul {
              @apply flex-wrap;

              li {
                  @apply mt-2;
                  .tag__item {
                      @apply text-xs;
                  }
              }
          }
      }
      ul {
          @apply flex items-center justify-start;

          li {
              @apply flex items-center justify-between bg-turqy-lighter border-radius--20 px-4 py-3 mr-3;
              &:last-child {
                  @apply mr-0;
              }

              .tag__item {
                  @apply text-[14px] mr-2;
              }
              .tag__close {
                  @apply transition hover:opacity-60 w-3;
              }
          }
      }
  }

  &.section--tab {
      li {
          @apply flex;

          .btn--tab {
              @apply border-l-0 sm:w-full sm:border-l;

              &.nuxt-link-active {
                  @apply border-l  sm:border-b sm:border-l-4;
              }
          }

          &:first-child {
              .btn--tab {
                  @apply border-l;
                  &.nuxt-link-active {
                      @apply sm:border-b sm:border-l-4;
                  }
              }
          }

          &.elinor__tab--end {
              @apply flex-1 justify-end;

              .btn--tab {
                  @apply border-l border-solid sm:w-full sm:border-b sm:border-l-4;
              }
          }
      }
  }
  &.section--turqy-light {
      @apply bg-turqy-lighter;
  }

  &.section--honor {
      @apply py-10 #{!important};
      .container {
          @apply flex gap-[56px] md:gap-2 md:flex-col-reverse items-center;

          @media (min-width: 769px) {
            @apply pl-4 pr-[76px];
          }

          > div:first-child {
              @apply w-[49.419%] md:w-full flex flex-col gap-[43px] pb-[38px];

              img {
                @apply md:max-w-[360px];
              }
              .elinor__sentence {
                  @apply mx-auto max-w-[452px] p-0;

                  .elinor__sentence__name {
                      @apply text-[14px] font-bold leading-[24px] pt-4;
                  }
              }
          }

          > div:last-child {
              @apply flex-1;
          }
      }
  }

  &.section--text {
      p,
      li {
          @apply mb-[9px] last:mb-0 leading-relaxed;
      }
      @apply mt-0 py-[64px];
  }
  /*
      PAGE: Welcome
  */
  &.section--welcome__ctas {
      ul {
          @apply flex space-x-5 md:flex-col;

          & > :not([hidden]) ~ :not([hidden]) {
              @apply md:mx-0;
          }

          li {
              @apply flex flex-col md:my-3 md:mx-0;

              h4 {
                  @apply text-[18px] font-bold mb-5;
              }

              footer {
                  @apply mt-16 flex items-end flex-1;
              }
          }
      }
  }

  /*
      PAGE: Managed areas
  */
  &.section--ma-results {
      .ma__results {
          @apply mt-[32px] grid grid-cols-2 md:grid-cols-1 gap-6 pb-10;

          .assessment-card {
              @apply bg-[#F9F9F9] rounded-[16px] p-6 min-h-[313px] flex flex-col justify-between transition-all duration-300;

              &--desktop {
                @apply flex md:hidden;
              }
              &--mobile {
                @apply hidden md:flex;
              }
              .top-content {
                  @apply flex flex-col gap-6;

                  .scores-area {
                      @apply flex items-start justify-between;

                      .badge-area {
                          @apply flex items-center flex-col gap-2;

                          .badge {
                              @apply bg-[#DADADA] text-white  w-[56px] h-[56px] rounded-full flex items-center justify-center text-[22px] font-semibold  px-4 py-2;

                              &.bg-poor {
                                  @apply bg-poor;
                              }
                              &.bg-average {
                                  @apply bg-average;
                              }
                              &.bg-good {
                                  @apply bg-good;
                              }
                              &.bg-excellent {
                                  @apply bg-excellent;
                              }
                          }

                          .badge-label {
                              @apply text-[#8F999C] text-[10px] leading-3 font-medium;
                          }
                      }

                      .assessment-status {
                          @apply flex items-center gap-4;

                          .edit {
                              @apply flex items-center gap-1;

                              img {
                                  @apply w-[24px] h-[24px];
                              }

                              span {
                                  @apply text-[#43A0BD] text-base font-medium;
                              }
                          }

                          .text {
                              @apply text-[#8F999C] text-[10px] px-2 py-1 leading-3 font-medium uppercase flex items-center gap-2;
                              @apply text-[color:var(--Dark-blue,#144651)] text-center font-montserrat text-[12px] font-bold leading-[15px] tracking-[0.48px];
                              border-radius: 4px; 
                              background: rgba(20, 70, 81, 0.12);
                          }



                          &.status--published {
                              .text {
                                  @apply text-[#1A981D] bg-[#32EC3630];
                              }
                          }

                          &.status--pending {
                              @apply text-[#8F999C];
                          }
                      }
                  }

                  h4 {
                      @apply text-[22px] font-semibold leading-[30px] text-[color:var(--Dark,#2E2E2E)] transition-all duration-300;
                  }
              }

              .bottom-content {
                  @apply flex flex-col;

                  .name,
                  .management-area,
                  .year {
                      @apply text-[14px] font-medium leading-[20px] text-[color:var(--Dark,#2E2E2E)] transition-all duration-300;
                  }

                  .management-area {
                      @apply text-[#9C9C9C];
                  }
              }
              
              &:hover {
                  @apply bg-[#E4F0F4];

                  .top-content {
                      h4 {
                          @apply text-[#3A90AB];
                      }
                  }

                  .bottom-content {
                      .name,
                      .management-area,
                      .year {
                          @apply text-[#3A90AB];
                      }
                  }
              }
          }
      }
  }

  /*
      PAGE: Managed area
  */
  &.section--ma-data {
  }

  /*
      PAGE: SIGN IN
  */
  &.section--sign-in {
      @apply relative flex items-center mt-0 h-screen md:h-auto md:py-6 md:pb-20;
      &--logged-in {
          //height: calc(40vh - 70px);
          // height: 50vh;
      }
      @media only screen and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          height: auto;
          @apply items-start py-6;
      }

      .home-container {
          @apply w-full h-full px-[75px] lg:px-6 sm:px-4 gap-[40px] md:gap-6 flex items-center justify-between md:flex-col;

          .signin-content {
              @apply w-1/2 md:w-full flex flex-col gap-4;
              a {
                  width: fit-content;
              }
              .elinor__card--sign-in__logo {
                  @apply h-[100px] w-[100px];
              }
              h1 {
                  @apply text-white;
              }

              p {
                  @apply text-white;
              }
          }

          .elinor__card.elinor__card--sign-in {
              @apply min-w-[453px] max-w-[453px] md:max-w-full md:min-w-full m-0 rounded-[16px] px-8 py-10 flex flex-col gap-8;

              .button-container {
                  @apply flex flex-col gap-4 pt-8;
                  .btn--border-white {
                      @apply flex items-center gap-2 bg-[#43A0BD] hover:bg-[#3A90AB] rounded-full justify-center py-4 px-6 transition-all duration-300;
                      .btn--opacity__target {
                          @apply text-white opacity-100;
                      }
                  }
                  .create-account-link {
                      @apply flex items-center gap-2 text-[#43A0BD] border border-[#43A0BD] hover:bg-[#3A90AB] hover:text-white hover:border-[#3A90AB] rounded-full justify-center py-[8px] px-6 transition-all duration-300 font-medium;
                  } 
              }
          }
      }
  }

  .section__full-background {
      @apply absolute bottom-0 left-0 w-full h-full overflow-hidden z-0 after:absolute after:top-0 after:left-0 after:w-full after:h-full;
      &::after {
          background: linear-gradient(0deg, rgba(34, 35, 52, 0.34) 0%, rgba(34, 35, 52, 0.34) 100%);
      }
      img {
          @apply h-full w-full object-cover;
      }
  }

  .section__bottom {
      @apply w-full mt-8 flex justify-end border-t border-grayy-border pt-8 mt-12 sm:mt-8 sm:justify-start;
  }

  &.section--intro {
      @apply mt-0 pt-14 pb-24;

      .container {
          @apply flex flex-col items-center justify-center;
      }

      .section--intro__info {
          @apply text-xl text-grayy text-center leading-9 pt-9 pb-14 w-8/12 lg:w-full sm:text-lg;
      }
  }
  
  &--banner {
      @apply w-full relative mt-0 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-10;
      &:before {
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
      }
      @media (min-width: $tablet-breakpoint) {
        aspect-ratio: 3/1;
      }
      img {
          @apply w-full h-full object-cover absolute top-0 left-0 z-0;
      }

      .container {
          @apply flex items-center h-full relative z-10  md:min-h-[280px];

          h1 {
              @apply text-white;
          }
      }

  }
  &--score-table {
      @apply pt-8 pb-16;
  }
  &--approach {
      .approach-grid {
          @apply grid grid-cols-2 lg:grid-cols-1 gap-4;

          .approach-grid__item {
              @apply flex flex-col rounded-[16px] h-full overflow-hidden bg-[#F9F9F9];
              &__image {
                  @apply w-full h-[342px];

                  img {
                      @apply w-full h-full object-cover;
                  }
              }
              &__content {
                  @apply p-6 pb-8;
                  h4 {
                      @apply mb-3;
                  }
                  p {
                      @apply mb-[9px] last:mb-0;
                  }
              }
          }
      }
  }

  &--background {
      @apply pt-8 pb-16;

      .background-grid {
          @apply grid grid-cols-2 lg:grid-cols-1 gap-4 lg:gap-0 mb-[56px];

          .background-grid__item {
              @apply w-full rounded-[16px] overflow-hidden border border-grayy-border;
              height: fit-content;
              .table-background {
                  @apply w-full;
                  tr {
                      @apply border-b border-grayy-border;
                  }
                  th {
                      @apply border-none px-4;
                  }
                  td {
                      @apply border-none py-6 px-4 md:py-4 md:px-2 text-base leading-[30px];
                  }
              }


          }

      }

      .question {
        .background-grid {
          .background-grid__item {
            &:first-child {
              @apply lg:rounded-b-none;
            }

            &:last-child {
              @apply lg:rounded-t-none mt-[-2px];

              tbody tr:first-child {
                @apply lg:hidden;
              }
            }
          }
        }
      }
  }

  .section-subtitle {
      @apply max-w-[692px] mt-2 mb-5;

      p {
          @apply mb-[9px] last:mb-0;
      }
  }

  &.section--intro-carousel {
      @apply relative bg-[#E4F0F4];
      .section--img-text__block-text {
          @apply w-[80%] flex flex-col gap-4;

          @media only screen and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
              @apply w-full;
          }
      }
      .carousel-container {
          @apply w-full p-0  px-[83px] md:px-4 mt-[-40px];
      }
      .VueCarousel-wrapper {
          @apply px-0 py-10;
          overflow: visible;
      }
      .carousel-container .VueCarousel-navigation {
          @apply  h-10 flex justify-end p-0 gap-2;

          .VueCarousel-navigation-button {
              @apply translate-x-0 translate-y-0 m-0 w-10 h-10 text-[0px] bg-transparent #{!important}; 
          }

          .VueCarousel-navigation-prev {
              background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><mask id="mask0_7699_7905" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40"><rect width="40" height="40" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_7699_7905)"><path d="M17.6475 20.8333H25C25.2361 20.8333 25.434 20.7533 25.5938 20.5933C25.7535 20.4333 25.8333 20.2351 25.8333 19.9988C25.8333 19.7624 25.7535 19.5646 25.5938 19.4054C25.434 19.2463 25.2361 19.1667 25 19.1667H17.6475L20.5896 16.2242C20.7457 16.0756 20.8238 15.8861 20.8238 15.6558C20.8238 15.4258 20.7457 15.2329 20.5896 15.0771C20.4338 14.921 20.2408 14.8429 20.0108 14.8429C19.7806 14.8429 19.5911 14.921 19.4425 15.0771L15.4617 19.0575C15.1922 19.3269 15.0575 19.6411 15.0575 20C15.0575 20.3589 15.1922 20.6731 15.4617 20.9425L19.4425 24.9229C19.5983 25.079 19.7894 25.1517 20.0158 25.1408C20.2425 25.1303 20.4338 25.0469 20.5896 24.8908C20.7457 24.735 20.8238 24.5421 20.8238 24.3121C20.8238 24.0821 20.7457 23.8926 20.5896 23.7437L17.6475 20.8333ZM20.0054 35C17.9312 35 15.9811 34.6064 14.155 33.8192C12.3292 33.0319 10.7408 31.9636 9.39 30.6142C8.03917 29.2647 6.96986 27.6778 6.18208 25.8533C5.39403 24.0292 5 22.0799 5 20.0054C5 17.9312 5.39361 15.9811 6.18083 14.155C6.96806 12.3292 8.03639 10.7408 9.38583 9.39C10.7353 8.03917 12.3222 6.96986 14.1467 6.18208C15.9708 5.39403 17.9201 5 19.9946 5C22.0688 5 24.0189 5.39361 25.845 6.18083C27.6708 6.96806 29.2592 8.03639 30.61 9.38583C31.9608 10.7353 33.0301 12.3222 33.8179 14.1467C34.606 15.9708 35 17.9201 35 19.9946C35 22.0688 34.6064 24.0189 33.8192 25.845C33.0319 27.6708 31.9636 29.2592 30.6142 30.61C29.2647 31.9608 27.6778 33.0301 25.8533 33.8179C24.0292 34.606 22.0799 35 20.0054 35ZM20 33.3333C23.7222 33.3333 26.875 32.0417 29.4583 29.4583C32.0417 26.875 33.3333 23.7222 33.3333 20C33.3333 16.2778 32.0417 13.125 29.4583 10.5417C26.875 7.95833 23.7222 6.66667 20 6.66667C16.2778 6.66667 13.125 7.95833 10.5417 10.5417C7.95833 13.125 6.66667 16.2778 6.66667 20C6.66667 23.7222 7.95833 26.875 10.5417 29.4583C13.125 32.0417 16.2778 33.3333 20 33.3333Z" fill="%2343A0BD"/></g></svg>') center no-repeat !important;
          }


          .VueCarousel-navigation-next {
              background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><mask id="mask0_7699_7908" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40"><rect width="40" height="40" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_7699_7908)"><path d="M22.3525 20.8333L19.4104 23.7758C19.2543 23.9317 19.1817 24.1175 19.1925 24.3333C19.2031 24.5492 19.2864 24.735 19.4425 24.8908C19.5983 25.0469 19.7913 25.125 20.0213 25.125C20.2513 25.125 20.4407 25.0469 20.5896 24.8908L24.5383 20.9425C24.8078 20.6731 24.9425 20.3589 24.9425 20C24.9425 19.6411 24.8078 19.3269 24.5383 19.0575L20.5575 15.0771C20.4017 14.921 20.2158 14.8429 20 14.8429C19.7842 14.8429 19.5983 14.921 19.4425 15.0771C19.2864 15.2329 19.2083 15.4258 19.2083 15.6558C19.2083 15.8861 19.2864 16.0756 19.4425 16.2242L22.3525 19.1667H15C14.7639 19.1667 14.566 19.2467 14.4062 19.4067C14.2465 19.5667 14.1667 19.7649 14.1667 20.0013C14.1667 20.2376 14.2465 20.4354 14.4062 20.5946C14.566 20.7537 14.7639 20.8333 15 20.8333H22.3525ZM20.0054 35C17.9312 35 15.9811 34.6064 14.155 33.8192C12.3292 33.0319 10.7408 31.9636 9.39 30.6142C8.03917 29.2647 6.96986 27.6778 6.18208 25.8533C5.39403 24.0292 5 22.0799 5 20.0054C5 17.9312 5.39361 15.9811 6.18083 14.155C6.96806 12.3292 8.03639 10.7408 9.38583 9.39C10.7353 8.03917 12.3222 6.96986 14.1467 6.18208C15.9708 5.39403 17.9201 5 19.9946 5C22.0688 5 24.0189 5.39361 25.845 6.18083C27.6708 6.96806 29.2592 8.03639 30.61 9.38583C31.9608 10.7353 33.0301 12.3222 33.8179 14.1467C34.606 15.9708 35 17.9201 35 19.9946C35 22.0688 34.6064 24.0189 33.8192 25.845C33.0319 27.6708 31.9636 29.2592 30.6142 30.61C29.2647 31.9608 27.6778 33.0301 25.8533 33.8179C24.0292 34.606 22.0799 35 20.0054 35ZM20 33.3333C23.7222 33.3333 26.875 32.0417 29.4583 29.4583C32.0417 26.875 33.3333 23.7222 33.3333 20C33.3333 16.2778 32.0417 13.125 29.4583 10.5417C26.875 7.95833 23.7222 6.66667 20 6.66667C16.2778 6.66667 13.125 7.95833 10.5417 10.5417C7.95833 13.125 6.66667 16.2778 6.66667 20C6.66667 23.7222 7.95833 26.875 10.5417 29.4583C13.125 32.0417 16.2778 33.3333 20 33.3333Z" fill="%2343A0BD"/></g></svg>') center no-repeat;
          }

          .VueCarousel-navigation--disabled {
              @apply opacity-50 #{!important};
          }
      }
  }

  &.section--img-text {
      .section--img-text__block {
          @apply flex gap-6 md:gap-2 md:flex-col md:first:flex-col-reverse;

          > div:first-child {
              @apply w-[48.85714286%] md:w-full;
          }

          > div:last-child {
              @apply flex-1;
          }

          .container {
              @apply lg:order-2 lg:my-5;
          }

          img {
              @apply lg:mx-auto lg:block lg:mb-4;
          }
          .btn {
              @apply inline-flex;
              img {
                  @apply m-auto;
              }
          }

          &.is-flushed {
              @apply mt-12 gap-0 lg:mt-0;
              &:first-child {
                  @apply lg:-mt-16;
              }
              & + .is-flushed {
                  @apply pt-40 lg:pt-3;
              }
          }

          .btn {
              @apply mt-24;
          }

          .section--img-text__block-text {
              @apply flex flex-col;
              h2 {
                  @apply mb-2;
              }
              p {
                  @apply mb-[9px] last:mb-0;
              }

              ol {
                  @apply list-decimal list-inside;

                  li {
                      @apply list-decimal mb-[9px] last:mb-0 before:hidden;
                  }
              }
          }
          .section--img-text__block-text {
              .section--img-text__block-nested {
                  @apply grid gap-4 mt-10;
              }
          }
      }
  }

  &#about {
      .container {
          @apply flex flex-col gap-[72px];

          @media (min-width: 769px) {
            @apply pl-[76px];
          }

          .section--img-text__block-text {
              @apply last:pl-[36px] md:last:pl-0;
          }
      }
  }
  &.section--main {
      @apply h-96 flex flex-col justify-center items-center mt-0 sm:h-32;
      & + .section {
          @apply sm:mt-6;
      }
      @media only screen and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          @apply h-24;
          & + .section {
              @apply mt-6;
          }
      }
      img {
          @apply h-full w-full object-cover;
      }
  }

  &.section--news {
      @apply py-16 mt-0;
  }

  &.section--documentation {
      @apply py-16 sm:py-6 mt-0;
  }

  &.section--latest-news {
      .row {
          @apply flex flex-row justify-between;

          &.row--cards {
              @apply lg:flex-col;
          }
      }
  }
  &.section--collaboration {
      @apply pt-16 pb-6 mt-0;
      .collaboration-content {
          @apply flex flex-col gap-6 mb-4 max-w-[692px];
          h3 {
              @apply text-turqy mb-4;
          }
          p {
              @apply mb-[9px] last:mb-0;
          }

          blockquote {
              @apply border-l-4 border-turqy pl-4 text-turqy text-[20px] leading-[32px] font-semibold;
          }
      }
      .guidelines-content {
          @apply flex flex-col gap-4 py-8;

          .guidelines-content__accordion {
              @apply py-8 last:pb-0;
          }
      }
  }

  
  &.section--guidelines {
      .text-group {
          p {
              @apply mb-[9px] last:mb-0;
          }
      }
  }
  &.section--terms {
      ul {
          @apply pl-4;
          li {
              @apply mb-8 leading-6 relative;
              &::before {
                  content: '';
                  @apply w-2 h-2 bg-turqy absolute top-2 -left-4 border-radius--50;
              }
              ul {
                  @apply pl-4 mt-4;
                  > li {
                      @apply mb-4 leading-6 relative;
                      &::before {
                          content: '';
                          @apply w-2 h-2 border border-turqy bg-transparent top-2 -left-4 border-radius--50;
                      }
                  }
              }
          }
      }
      ol {
          @apply pl-6 mt-4;
          counter-reset: section;

          li {
              @apply mb-8 leading-6 relative;
              &::before {
                  content: counter(section) '. ';
                  counter-increment: section;
                  @apply w-0 h-0 top-0 -left-6 text-turqy font-bold;
              }
          }
      }
  }
}

.section.section--tab {
  @apply mt-0 relative;

  &:before {
      content: '';
      @apply absolute bottom-0 left-0 w-full h-[2px] bg-[#DADADA];
  }

  .container {
    @apply overflow-x-auto;
  }

  .elinor__tabs {
      @apply flex items-center justify-start gap-2;
      width: fit-content;
      li {
          .btn--tab {
              @apply flex items-center justify-start flex-nowrap;
              @apply py-2 pr-4 pl-3 rounded-tl-lg rounded-tr-lg border-transparent;

              .txt {
                  @apply text-[#9C9C9C] text-center whitespace-nowrap font-montserrat text-[16px] font-semibold leading-[30px];
              }

              .bullet {
                  @apply text-[#9C9C9C] border-[#9C9C9C];
              }

              &:hover {
                  .txt {
                      @apply text-turqy;
                  }

                  .bullet {
                      @apply text-turqy border-turqy;
                  }
              }

              &.nuxt-link-active {
                  @apply bg-[#E4F0F4] border-b-turqy border-b-[2px] ;

                  .txt {
                      @apply text-turqy;
                  }

                  .bullet {
                      @apply text-turqy border-turqy;
                  }
              }
          }
      }
  }
}

.section--ma-data,
.section--assessment-info {
  @apply mt-0 py-10 sm:py-4 sm:pb-8;
}

.section--assessment-map {
  &.no-map-data {
      @apply h-0 overflow-hidden;
  }
}

.section--assessment-collaborators {
  @apply mt-0 py-10 sm:py-4;

  .container {
      @apply flex flex-col gap-8 sm:gap-4;

      .text-subtitle {
        @apply p-0;
      }
  }

  .elinor__collaborators {
    @apply lg:overflow-x-auto;
      .container {
          @apply px-0;
      }
      .form {
          @apply rounded-[16px] min-w-[600px] mt-0 overflow-hidden border border-solid border-[#43A0BD];
      }

      .c-data-table {
          @apply mb-0;
          thead {
              @apply after:hidden rounded-t-[16px] bg-[#43A0BD] border-none;

              th {
                  @apply text-white py-2 px-4 font-bold text-base;
              }
          }

          tbody {
              @apply rounded-b-[16px] border-none;

              tr {
                  @apply border-[#DADADA];
              }
              td {
                  @apply py-2 px-4 font-medium text-[#2E2E2E];

                  .radios__wrap {
                      @apply mx-auto;
                  }

                  .input.input--radios .radios__wrap .radio__wrap .radio,
                  .input.input--radios .radios__wrap .radio__wrap .radio input {
                      @apply border-none;

                      img {
                          @apply w-[24px] h-[24px];
                      }
                  }
              }
          }

      } 
  }
}

.page--methodology {
  &__content {
      @apply flex flex-col gap-[64px] pt-12 pb-[64px] #{!important};
      section {
          @apply m-0 p-0;
  
          .container {
              @apply flex flex-col gap-[24px];
              
              h3 {
                  @apply mb-2;
              }
              .section-subtitle {
                  @apply m-0;
              }
              .background-grid {
                  @apply mb-0;
              }
          }
      }
  }
}
