.section {
    @apply mt-20;

    /*
        MODIFIERS
    */
    &.section--mt-0 {
        @apply mt-0;
    }

    &.section--mt-10 {
        @apply mt-10;
    }

    &.section--button {
        .container {
            @apply flex justify-end;
        }
    }

    &.section--mt-medium {
        @apply mt-10;
    }

    &.section--filters {
        ul {
            @apply flex items-center justify-between py-5 space-x-5 border-b border-t border-grayy-border;

            li {
                &:first-child {
                    @apply flex-1;
                }
            }

            .form {
                @apply mt-0;
            }
        }
    }

    &.section--tab {
        li {
            @apply flex;

            .btn--tab {
                @apply border-l-0;

                &.nuxt-link-active {
                    @apply border-l;
                }
            }

            &:first-child {
                .btn--tab {
                    @apply border-l;
                }
            }

            &.elinor__tab--end {
                @apply flex-1 justify-end;

                .btn--tab {
                    @apply border-l border-solid;
                }
            }
        }
    }

    /*
        PAGE: Welcome
    */
    &.section--welcome__ctas {
        ul {
            @apply flex space-x-5;

            li {
                @apply flex flex-col;

                h4 {
                    @apply text-[18px] font-bold mb-5;
                }

                footer {
                    @apply mt-16 flex items-end flex-1;
                }
            }
        }
    }

    /*
        PAGE: Managed areas
    */
    &.section--ma-results {
        .ma__results {
            @apply mt-10;
        }
    }

    /*
        PAGE: Managed area
    */
    &.section--ma-data {}

    /*
        PAGE: SIGN IN
    */
    &.section--sign-in {
        @apply relative flex items-center mt-0;
        height: calc(100vh - 70px);
    }

    .section__full-background {
        @apply absolute bottom-0 left-0 w-screen h-full overflow-hidden z-0;

        img {
            @apply h-full w-full object-cover;
        }
    }

    .section__title {
        @apply text-5xl w-7/12 mb-12;
    }

    .section__title--block {
        @apply text-xl mb-12;
    }

    &.section--intro {
        @apply bg-turqy-lighter mt-0 pt-14 pb-24;

        .container {
            @apply flex flex-col items-center justify-center;
        }

        .section--intro__info {
            @apply text-xl text-grayy text-center leading-9 pt-9 pb-14 w-8/12 md:w-full;
        }
    }

}