.sidebar__main {
    margin-top: -69px;
    .sidebar__wrap {
        @apply bg-turqy h-screen sticky top-0 z-30 flex flex-col;
        width: 188px;
        @media(max-width:768px){
            left: -188px;
            @apply fixed top-0 bottom-0 transition-all duration-500;
        }
        > * {
            @apply px-3;
        }
        .brand {
            @apply border-b border-turqy-darker py-5 flex-none;
        }
        .nav__main {
            @apply mt-10 flex-1;
            &:not(.nav__main--bottom){
                @apply h-full overflow-auto;
            }
            ul {
                li {
                    @apply mb-3 text-white;
                    .nav__main__link {
                        @apply text-[14px] p-3 font-semibold flex items-center cursor-pointer;
                        span {
                            @apply pl-7;
                        }
                        &.nuxt-link-active{
                            @apply bg-turqy-lighter rounded-full text-turqy;
                        }
                    }
                }
            } 
        }
        .nav__main--bottom{
            @apply mt-0 border-t border-turqy-darker py-5 w-full bg-turqy flex-none h-24 lg:h-auto md:hidden;
        }
    }
    &.sidebar__main--min{
        .sidebar__wrap {
            @apply w-12;
            .brand{
                @apply px-2;
                .brand__text{
                    @apply hidden
                }
            }
            .nav__main{
                @apply px-2 flex flex-col justify-start;
                &.nav__main--bottom{
                    @apply md:hidden;
                }
                ul{
                    li{
                        a{
                            @apply justify-center h-8 w-8;
                        }
                        span{
                            @apply hidden;
                        }
                    }
                }
            }

                @media(max-width:768px){
                    width: 188px;
                    @apply fixed top-0 left-0 bottom-0 transition-all duration-500;
                    .brand{
                        .brand__text{
                            @apply block
                        }
                    }
                    .nav__main{
                        @apply justify-start;
                        ul{
                            li{
                                a{
                                    @apply justify-start h-auto w-auto;
                                }
                                span{
                                    @apply block;
                                }
                            }
                        }
                    }
                }
        }
    }
}