h1 {
  @apply text-[44px] xl:text-[32px] sm:text-[30px] leading-[58px] xl:leading-[44px] sm:leading-[32px] font-semibold #{!important};

  // // Below desktop: reduce font size to 36px
  // @media (max-width: $desktop-breakpoint) {
  //   font-size: 36px !important;
  //   line-height: 48px !important; // Proportional line-height
  // }
}

h2 {
  @apply text-[32px] sm:text-[24px] leading-[48px] sm:leading-[32px] font-semibold;
}

h3 {
  @apply text-[30px] sm:text-[24px] leading-[40px] sm:leading-[32px] font-semibold;
}

h4 {
  @apply text-[22px] sm:text-[20px] leading-[30px] sm:leading-[28px] font-semibold;
}

h5 {
  @apply text-[18px] sm:text-[16px] leading-[25px] sm:leading-[24px] font-semibold;
}

.text-body-16 {
  @apply text-[16px] leading-[26px];
}

.text-body-14 {
  @apply text-[14px] leading-[24px];
}

.text-body-12 {
  @apply text-[12px] leading-[22px];
}

.small-text {
  @apply text-[10px] leading-[15px];
}

.text-category {
  @apply text-[12px] leading-[12px];
}

.text-subtitle {
  @apply text-[18px] md:text-[16px] leading-[30px] md:leading-[26px];
  padding-bottom: 16px;
}

.text-title {
  @apply text-[18px] sm:text-[16px] leading-[30px] sm:leading-[24px];
}
