//transitions
.elinor-fade-enter-active,
.elinor-fade-leave-active {
  @apply transition;
}
.elinor-fade-enter,
.elinor-fade-leave-to {
  @apply opacity-0;
}
.elinor-slide-up-enter-active,
.elinor-slide-up-leave-active {
  @apply transition;
}
.elinor-slide-up-enter,
.elinor-slide-up-leave-to {
  transform: translateY(100%);
}
