//avatar
.elinor__avatar {
  @apply w-[36px] h-[36px] flex items-center justify-center border-radius--50;
  span {
    @apply text-white text-[14px];
  }
  &.elinor__avatar--red {
    @apply bg-redy;
  }
  &.elinor__avatar--xl {
    @apply w-[95px] h-[95px] sm:w-[60px] sm:h-[60px];
    span {
      @apply text-[36px] sm:text-[24px];
    }
  }
}
