//cards
.elinor__card{
    &.elinor__card--sign-in{
        min-width: 31rem;
        @apply bg-white p-8 ml-32 border-radius--20 lg:mx-auto sm:w-11/12 sm:min-w-0;
        .elinor__card--sign-in__logo{
            @apply -mt-14 mb-6;
        }
        .elinor__card--sign-in__info{
            @apply flex items-center justify-between;
            &.info-start{
                @apply items-start;
            }
            .input.input--radios {
                label{
                    @apply mt-1;
                    span{
                        &:first-child{
                            @apply text-xs font-normal text-grayy-lighter whitespace-nowrap;
                        }
                    }
                }
            }
        }
        .elinor__card--sign-in__separator{
            @apply mt-8 mb-11 w-96 sm:w-full;
        }
    }
}


//elinor question

.elinor__question {
    @apply mt-10;
    .title-border {
        .title {
           @apply text-[16px]; 
        }
    }
    .question {
        @apply mt-8;
        .question__index {
            @apply flex items-center text-[18px];
            .bullet {
                @apply w-[12px] h-[12px] border-radius--50 bg-turqy mr-2;
            }
        }
        .question__title {
            @apply mt-5 text-[20px] leading-[30px] font-bold;
        } 
    }
    .answers {
        @apply mt-10;
        header {
            @apply flex items-center justify-between;
            p {
                @apply text-[12px];
            }
        }
    }
    .question__nav {
        @apply mt-6;
        ul {
            @apply flex justify-between items-center;
        }
    }
}
.elinor__question-help {
    .elinor__help-border {
        @apply border-t border-grayy-border pt-16;
    }
    .elinor__help {
        @apply mb-20;
        header {
            h3 {
                @apply text-[20px] font-bold mb-8;
            }
        }
        ul {
            @apply max-w-lg mx-auto;
            li {
                @apply text-base leading-[26px] mb-8;
            }
        }
        .image {
            @apply max-w-lg mx-auto;
            img {
                @apply w-full;
            }
        }
    }
}


//elinor card question

.elinor-card--question{
    @apply flex items-start pt-12 pb-6;
    .elinor-card--question__number{
        @apply flex-none w-8 h-8 rounded-full border border-turqy-border text-turqy flex items-center justify-center text-sm mr-6;
    }
    .elinor-card--question__info{
        @apply flex-1;

        [class*='c-title--']{
            @apply mb-8;
        }

        p{@apply mb-6}
    }
}

//elinor card detail
.elinor-card__detail{
    @apply bg-turqy-lighter text-turqy text-4xl text-center rounded-huge p-6 leading-9;
}

//elinor card icons
.elinor-card__icons{
    @apply bg-turqy-lighter rounded-huge p-6 pb-12;
    .elinor-card__icons__item{
        @apply relative flex items-center justify-between flex-col;
        &::after{
            content: "+";
            @apply text-turqy absolute m-auto text-2xl -right-8 flex items-center h-full sm:right-0 sm:left-0 sm:justify-center sm:-bottom-12 sm:items-end;
        }
        &:last-child{
            &::after{
                @apply hidden;
            }
        }
        .elinor-card__icons__item-title{
            @apply text-lg text-turqy text-center font-bold mb-4 w-6/12;
        }
    }
    .elinor-card__icons-title{
        @apply text-base text-center relative text-turqy mb-6;
        .elinor-card__icons-title-info{
           @apply bg-turqy-lighter px-2 z-30 inline-block; 
        }
        &::after{
            content: '';
            @apply absolute inset-0 m-auto h-px bg-turqy-middle w-full;
        }
    }
}

//elinor card document
.elinor-card__document {
    @apply px-0 mb-4;
    
    .header {
        @apply flex justify-between flex-row sm:flex-col border-b border-grayy-border pb-6 px-10; ;
        .title-group {
            @apply flex justify-start items-center flex-row;
            .ico{
                @apply w-16;
            }
        }
        .info-group{
            @apply flex justify-start sm:justify-end flex-row items-center border-l sm:border-0 sm:mt-4 border-grayy-border pl-6;
        }
    }
    .title {
        @apply text-grayy-lighter text-[16px];
    }
    .body {
        @apply pt-10 pl-[105px] sm:pl-6 pr-6;
        .text-group {
            &:not(:last-child) {
                @apply mb-4;
            }
            
        }
    }
}

//ico download
.ico-download{
    @apply text-turqy flex flex-col justify-center items-center uppercase text-[11px] font-bold ml-6;
    .ico-wrap {
        @apply flex items-center justify-center text-[20px] w-[38px] h-[38px] bg-white border border-solid border-turqy border-radius--50;
    }
    span{
        @apply mt-1;
    }

}