//carousel

.carousel-container {
  @apply relative max-w-full p-8 md:px-4;

  @media (max-width: $tablet-breakpoint) {
    max-width: 99vw;
  }

  .carousel-thumb {
    @apply w-full object-cover min-h-[198px];
    aspect-ratio: 352/198;
  }

  .VueCarousel {
    @apply max-w-full;
    &-inner {
      // @apply gap-6 sm:gap-0;
      max-width: calc(100vw - 188px);

      @media (max-width: $tablet-breakpoint) {
        max-width: calc(100vw - 32px);
      }
    }

    &-slide {
      @apply pr-6 sm:pr-4;
      // &[aria-hidden="true"] {
      //   @apply md:opacity-0;
      // }
    }
    &-wrapper {
      @apply p-6 pr-16 md:px-0;
    }
    &-navigation {
      @apply relative w-full h-full px-40 top-0 2xl:px-20;
      order: -1;

      &-button {
        @apply static w-16 h-16 bg-turqy text-white rounded-full #{!important};
      }
      &--disabled {
        @apply bg-turqy-lighter text-turqy #{!important};
      }
    }

    &-dot {
      &-container {
        @apply m-0 flex justify-center items-center gap-2 #{!important};
      }

      @apply bg-[#D9D9D9] m-0 p-0 w-[14px] h-[14px] #{!important};

      &--active {
        @apply bg-turqy #{!important};
      }
    }
  }
}
