//dropdown
.elinor__dropdown {
  @apply relative;
  .elinor__dropdown-toggle {
    @apply cursor-pointer relative z-10;
  }
  ul.elinor__dropdown-menu {
    @apply flex-col opacity-0 absolute top-full right-0 w-40 mt-3 h-auto bg-white rounded overflow-hidden shadow-lg p-0 transition duration-500 ease-in-out;

    &.isOpen {
      @apply opacity-100 transition duration-500 ease-in-out;
      .elinor__dropdown-menu__item {
        @apply block border-b p-4;
        &:hover {
          @apply bg-turqy-lighter;
        }
        &:last-child {
          @apply border-0;
        }
        img {
          @apply w-4;
        }
        a {
          @apply flex items-center justify-between;
        }
      }
      &::after {
        content: '';
        @apply absolute border-b-4 border-turqy w-full bottom-0 inset-x-0;
      }
    }

    .elinor__dropdown-menu__item {
      @apply hidden w-full;
    }
  }
}

.lang-dropdown {
  .current {
    @apply flex align-middle justify-center text-[14px] font-medium text-turqy mr-3;
    .multiselect__caret {
      @apply flex align-middle justify-center ml-1;
    }
  }
  ul.lang-dropdown-menu {
    @apply flex-col opacity-0 absolute bottom-full left-0 w-full mt-3 h-auto bg-white rounded overflow-hidden shadow-lg p-0 transition duration-500 ease-in-out;

    &.isOpen {
      @apply opacity-100 transition duration-500 ease-in-out;
      .lang-dropdown-menu__item {
        @apply block border-b p-3  text-[14px] font-medium text-turqy;
        &:hover {
          @apply bg-turqy-lighter;
        }
        &:last-child {
          @apply border-0;
        }
        img {
          @apply w-4;
        }
        a {
          @apply flex items-center justify-between;
        }
      }
    }

    .lang-dropdown-menu__item {
      @apply hidden w-full cursor-pointer;
    }
  }
}

.language-message {
  @apply fixed top-[56px] pl-[230px] left-0 w-full text-center;

  .language-message--content {
    @apply text-base leading-[32px] font-medium text-[#3A90AB] mx-auto px-6 py-2;
    width: fit-content;
    border-radius: 8px;
    background: var(--Blue---Grey, #e4f0f4);
  }
}
