//list
.list-inside {
    @apply pl-5 relative;
    li {
        &::before {
            content: "";
            @apply absolute -left-4 top-2 w-1 h-1 bg-grayy;
        }
    }
    &.list-disc {
        li {
            &::before {
                @apply rounded-full;
            }
        }
    }
    &.list--small {
        li {
            @apply text-sm leading-7 text-grayy;
        }
    }
    &.list--light {
        li {
            @apply text-xs leading-6 text-grayy-lighter;
            &::before {
                content: "";
                @apply bg-grayy-lighter -left-2 w-2px h-2px;
            }
        }
    }
}

//survey list

.elinor__survey-list {
    @apply mt-10;
    p {
        @apply mb-0;
    }
    .elinor__survey-question {
        @apply flex flex-wrap justify-between mb-8;
        .question {
            @apply text-[20px] leading-[30px] font-bold;
        }
        .txt {
            @apply flex items-center text-[12px] text-grayy-lighter mb-2;
            &.txt--explanation {
                @apply mt-8;
            }
            .txt__mark {
                @apply w-[12px] h-[12px] bg-turqy border-radius--50 mr-2;
            }
        }
        .answer {
            @apply leading-[26px];
        }
        .left {
            @apply w-1/2 pr-8 sm:w-full;
        }
        .right {
            @apply w-1/2 border-l border-grayy-border pl-8 sm:w-full sm:border-l-0 sm:border-t sm:pt-8 sm:pl-0 sm:mt-8;
        }
        &.is--inactive,
        &.is--uncomplete {
            .txt {
                .txt__mark {
                    @apply bg-grayy-border;
                }
            }
        }
        .completed {
            @apply flex flex-col;
        }
        .uncompleted {
            @apply flex flex-col;
        }
        .txt__uncomplete {
            @apply text-redy;
        }
        .txt__inactive {
            @apply text-grayy-lighter;
        }
        .btn--uncomplete {
            @apply mt-8 self-start;
        }
        & + .title-border {
            @apply mt-16;
        }
    }
    &.elinor__survey-list--row {
        .left {
            @apply flex items-start;
            .txt {
                @apply flex-none w-8 h-8 rounded-full border border-turqy-border text-turqy flex items-center justify-center text-sm mr-6;
            }
        }
        .right {
            .right__item {
                @apply flex items-start mb-6;
                .txt {
                    @apply w-8 mr-4;
                }
            }
        }
    }
}

.number-list {
    counter-reset: elements-counter;
    @apply pl-12;

    > li {
        counter-increment: elements-counter;
        @apply relative;
        .number-list__question {
            @apply text-lg;
            &::before {
                content: counter(elements-counter);
                @apply absolute -left-12 -top-1 border-radius--50 flex justify-center items-center border border-turqy border-solid w-[36px] h-[36px] text-sm text-turqy;
            }
        }
        .number-list__answer {
            @apply flex flex-col justify-start items-start border-radius--20 bg-turqy-lighter px-10 py-5 text-sm leading-6 italic mt-5;
            .register {
                @apply text-8xl;
            }
        }
        &:not(:last-child) {
            @apply mb-20;
        }
    }
}

.list-delete {
    li {
        @apply mb-2 text-grayy-lighter text-sm;
    }
}

.list-keys {
    li {
        @apply mb-2 text-sm relative;
        &::before {
            content: "";
            @apply inline-block w-2 h-2 border-radius--50 bg-grayy-lighter mr-2;
        }
    }
    &.key-ok {
        li {
            &::before {
                @apply bg-excellent;
            }
        }
    }
    &.key-ko {
        li {
            &::before {
                @apply bg-poor;
            }
        }
    }
}
