.mgl-map-wrapper {
    .mapboxgl-popup-anchor-top-left {
        @apply ml-3 flex-row;
        .mapboxgl-popup-tip {
            border: 10px solid;
            border-color: transparent;
            align-self: flex-start;
            border-left: none;
            border-right-color: #fff;
            @apply -mt-2;
        }
        .mapboxgl-popup-content {
            @apply border-radius--card p-0 w-full -mt-8;
            .mapboxgl-popup-close-button {
                display: none;
            }
        }
    }
}

.map-filters{
    .multiselect__single, .multiselect__option > span{
        @apply truncate max-w-full;
        display:block;
    }
    .multiselect__content, .multiselect__option{
        @apply max-w-full;
    }
}

.box-map {
    @apply border-radius--card z-50 absolute -translate-y-1/2 left-8 top-1/2 bg-white w-[320px];
    ul {
        @apply h-[300px] overflow-y-scroll;
        > li {
            @apply border-b border-grayy-border;
            &:last-child {
                @apply border-none;
            }
            > * {
                @apply py-2 #{!important};
            }
        }
    }
    .wrap{
        @apply max-h-[450px] overflow-y-auto;
    }
}
