//back
.elinor__back {
  @apply flex items-center space-x-2;
  span {
    @apply text-[12px] leading-[12px] text-turqy;
  }
}

//survey navigator
.elinor__survey-navigator {
  @apply flex justify-between items-center border-b border-grayy-border py-10 sm:w-90 sm:overflow-auto;
  li {
    @apply flex-1 flex justify-center sm:mx-1;
    a {
      @apply w-[12px] h-[12px] bg-turqy border-radius--50 z-10;
      &.is--uncomplete {
        @apply bg-grayy-border;
      }
    }
    &.elinor__survey-complete {
      @apply flex items-center bg-white z-10;
      .index {
        @apply min-w-[42px] min-h-[42px] flex items-center justify-center border-radius--50 border border-grayy-border mr-2;
      }
      .text {
        span {
          @apply leading-[16px];
          &:last-child {
            @apply text-base text-[12px] leading-[12px] text-grayy-lighter;
          }
        }
      }
    }
  }
  &:after {
    content: '';
    @apply center-v w-full h-px bg-grayy-border;
  }

  &.elinor__survey-navigator--no-border {
    @apply border-b-0;
  }
}

//elinor__navigator-category
.elinor__navigator-category {
  @apply relative flex items-center justify-end;
  &::after {
    content: '';
    @apply h-px absolute inset-0 bg-grayy-border w-full m-auto;
  }
  .elinor__navigator-category__link {
    @apply bg-white z-10 px-3 flex items-center;
  }
  .elinor__navigator-category__text {
    @apply text-base text-turqy pr-3;
  }
}

//survey progress
.elinor__survey-progress {
  @apply flex justify-between flex-col items-start border-b border-grayy-border overflow-auto;
  .elinor__survey-complete {
    @apply flex justify-between items-center gap-1 px-2 py-1 h-[32px] bg-[#E7E7E7] w-[fit-content] font-medium text-[12px] leading-[12px] text-[#3A90AB];

    .index {
      @apply font-bold;
    }
  }
  .elinor__survey-dots {
    @apply flex justify-between py-10 sm:py-4 w-full;

    // &:not(:last-child) {
    //     @apply mr-4;
    // }
    .item,
    li {
      @apply flex justify-between items-center sm:mx-1 gap-1 px-2 py-2 h-[32px] bg-white rounded-full;
      a {
        @apply w-[16px] h-[16px] border-radius--50 z-10;
        &.is--uncomplete {
          @apply bg-[#DADADA];
        }
        // &:not(:last-child) {
        //     @apply mr-3;
        // }
      }
      // &:nth-last-of-type(n + 3) {
      //     @apply mr-6 relative;

      //     // &::after {
      //     //     content: '';
      //     //     @apply absolute top-0 -right-3 w-px h-full bg-grayy-border;
      //     // }
      // }
      &:before {
        content: '';
        width: calc(100% - 20px);
        @apply center-v h-[2px] bg-[#DADADA];
      }
      &.completed {
        @apply before:bg-turqy;
      }
      &.li-bg-1 {
        @apply bg-[#E7E7E7] transition-all duration-300 hover:bg-[#E4F0F4];
      }
      &.li-bg-2 {
        @apply bg-turqy/10;
      }

      &.elinor__survey-complete {
        @apply flex items-center bg-white z-10 justify-end px-0;
        .index {
          @apply min-w-[42px] min-h-[42px] flex items-center justify-center border-radius--50 border border-grayy-border mr-2;
        }
        .text {
          @apply flex flex-col;
          span {
            @apply leading-[16px];
            &:last-child {
              @apply text-base text-[12px] leading-[12px] text-grayy-lighter mt-2;
            }
          }
        }
        &::before {
          @apply bg-transparent;
        }
      }
    }
  }
}
