//popup
.elinor__popup {
    @apply w-screen h-screen fixed top-0 left-0 z-40;
    .popup__overlay {
        @apply w-full h-full absolute top-0 left-0 bg-white opacity-50;
    }
    .popup__box {
        @apply w-[1000px] center-both z-10 shadow-xl overflow-auto md:w-11/12 sm:w-full sm:h-screen sm:max-h-screen;
        @media only screen 
        and (min-device-width: 768px)  
        and (-webkit-min-device-pixel-ratio: 1) {
            max-height:75vh;
        }
        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 823px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) { 
            max-height:100vh;
        }
        .popup__header {
            @apply flex justify-between items-center bg-turqy-lighter px-20 py-10 rounded-t-xl sm:px-8;
            span {
                @apply text-[22px];
            }
        }
        .popup__content {
            @apply bg-white px-20 py-10 rounded-b-xl sm:px-4;
            .file{
                @apply h-64 flex flex-col justify-center;
            }
            .popup__map-img{   
                top: 6.563rem;
                height: calc(100% - 6.563rem);  
                @apply fixed right-0 w-6/12 object-cover sm:relative sm:w-full sm:top-0 sm:h-auto;
                
            }
            .popup__map{
                @apply relative flex justify-center items-center flex-col mt-16 -mx-20;
                &>div{@apply w-full px-20 sm:px-4}
                .header--map{
                    @apply flex justify-between items-center sm:flex-col sm:px-4 sm:w-screen sm:items-start;
                    .form__row{@apply items-end sm:items-start sm:mb-4}
                }
            }
            .popup__footer{
                @apply flex justify-end pt-11;
                &>*{
                    @apply ml-4;
                }
            }
        }

        &.popup__box--min{
           @apply w-3/12 2xl:w-5/12 lg:w-6/12 md:w-8/12 sm:w-full 
        }
        @media only screen 
            and (max-device-width: 823px)
            and (-webkit-min-device-pixel-ratio: 2)
            and (orientation: landscape) {
            width: 100%!important;
            @apply h-full;
            .popup__content{
                @apply h-3/4 overflow-auto;
            }
        }
    }
}


