//popup
.elinor__popup {
    @apply w-screen h-screen fixed top-0 left-0 z-40 flex items-center m-auto overflow-auto py-8 sm:p-0;
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 823px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
        @apply p-0;
    }
    .popup__overlay {
        @apply w-full h-full fixed top-0 left-0 bg-white opacity-50;
    }
    .popup__box {
        @apply w-[1000px] z-10 shadow-xl m-auto md:w-11/12 sm:w-full;

        .popup__header {
            @apply flex justify-between items-center bg-turqy-lighter px-20 py-10 rounded-t-xl sm:px-8 sm:rounded-none;
            span {
                @apply text-[22px];
            }
        }
        .popup__content {
            @apply bg-white px-20 py-10 rounded-b-xl sm:px-4 sm:rounded-none;
            .input.input--file{
                .file{
                    @apply h-64 flex flex-col justify-center;
                }
                .file__buttons{
                    @apply sm:flex-col sm:items-start;
                }
            }

            .popup__map-img{
                top: 6.563rem;
                height: calc(100% - 6.563rem);
                @apply fixed right-0 w-6/12 object-cover sm:relative sm:w-full sm:top-0 sm:h-auto;

            }
            .popup__map{
                @apply relative flex justify-center items-center flex-col mt-16 -mx-20;
                &>div{@apply w-full px-20 sm:px-4}
                .header--map{
                    @apply flex justify-between items-center sm:flex-col sm:px-4 sm:w-screen sm:items-start;
                    .form__row{@apply items-end sm:items-start sm:mb-4}
                }
            }
            .popup__map.image {
                @apply mt-0 #{!important};
            }
            .popup__footer{
                @apply flex justify-end pt-11;
                &>*{
                    @apply ml-4;
                }
            }
        }

        &.popup__box--min{
           @apply w-3/12 2xl:w-5/12 lg:w-6/12 md:w-8/12 sm:w-full
        }
        @media only screen
            and (max-device-width: 823px)
            and (-webkit-min-device-pixel-ratio: 2)
            and (orientation: landscape) {
            width: 100%!important;
            @apply h-full;
            .popup__content{
                @apply h-3/4 overflow-auto;
            }
        }
    }

    //onboarding
    &.popup__onboarding {
        .popup__box {
            .popup__header {
                @apply flex justify-between items-center bg-turqy text-white px-20 py-10 rounded-t-xl sm:px-8 sm:rounded-none;
                span {
                    @apply text-[22px];
                }
                button img {
                    filter: invert(94%) sepia(6%) saturate(101%) hue-rotate(217deg) brightness(200%) contrast(100%);
                }
            }
            .popup__content {}
        }
    }
}


//num
.step-num {
    @apply flex items-center justify-center flex-shrink-0 text-[14px] w-[48px] h-[48px] text-turqy border-turqy border border-solid border-radius--50;
}

//onboarding steps
.elinor__step-card {
    @apply border-turqy border border-solid border-radius--card py-[30px] pr-[40px] pl-[50px] ml-[25px];
    &::before {
        @apply flex items-center justify-center flex-shrink-0 text-[14px] w-[48px] h-[48px] bg-white text-turqy border-turqy border border-solid border-radius--50;
        position: absolute;
        left: -25px;
        top: 25px;
    }
    &.step-card--row {}

}


.elinor__steps-list {
    counter-reset: step-counter;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    > li {
        counter-increment: step-counter;
        &:before {
            content: counter(step-counter);
        }
        &.step-card--row {
            grid-column: 1 / span 2;
        }
    }
}