.score-legend {
    @apply flex flex-row flex-nowrap justify-between p-4 border border-grayy-border;
    @media (max-width: 1224px) {
        @apply flex-wrap justify-start w-auto;
    }
}
.item-legend {
    @apply flex justify-center items-center flex-1 items-center gap-2 px-2;
    @media (max-width: 1224px) {
        @apply justify-start py-2;
    }
    &:not(:last-child) {
        @apply border-r;
        @media (max-width: 1224px) {
            @apply border-0;
        }
    }
    .text {
        @apply text-[10px] mb-0 uppercase;
    }
}

.score-values-table {
    caption {
        p {
            @apply flex;
        }
        p:before,
        p:after {
            color: transparent;
            content: "";
            flex: 1;
            border-bottom: groove 1px;
            border-color: transparent;
            margin: auto 1rem;
            box-shadow: 0 -1px #bddade;
        }
    }
    th,
    td {
        @apply px-2 py-6;
    }
    th {
        @apply text-sm text-turqy font-bold;
    }
    .item-legend {
        @apply justify-start;
        .text {
            @apply text-xs text-turqy font-bold;
        }
    }
    .description {
        @apply flex border-l text-[14px] border-r border-turqy-middle px-4 min-w-[150px];
    }
    .num {
        @apply text-center font-bold;
    }
    &--report {
        th {
            @apply text-small leading-3 text-turqy font-bold;
        }
        th,
        td {
            @apply py-2;
        }
        .item-legend {
            @apply justify-start;
            .text {
                @apply text-[11px] text-grayy font-semibold;
            }
        }
        .description {
            @apply text-small text-grayy-lighter py-0 border-0 pl-9;
        }
        .num {
            @apply text-center text-grayy font-semibold text-[12px];
        }
        td.hr {
            @apply border-b border-turqy-middle pb-2;
        }
        tr {
            &:last-child {
                td {
                    &:last-child {
                        @apply border-b-0 pb-0;
                    }
                }
            }
        }
    }
}

.title-dot-wrapper {
    @apply flex justify-start items-center gap-4 bg-white z-10;
    .title-dot {
        @apply flex justify-center items-center w-7 h-7 rounded-full text-white font-semibold text-[12px];
    }
}

.dot-score {
    @apply flex justify-center items-center w-6 h-6 rounded-full text-white font-semibold text-[12px] ml-2;
}
