//tabs
.elinor__tabs {
  @apply flex sm:flex-wrap;
  li {
    @apply sm:flex-auto sm:w-full;
  }

  // .btn--tab {
  //   @apply lg:flex-col lg:justify-center lg:p-3;

  //   .bullet {
  //     @apply lg:mb-2;
  //   }
  // }

  // Override for assessment view tabs - keep horizontal and scrollable
  .section--tab & {
    flex-wrap: nowrap !important;

    li {
      @apply flex flex-nowrap;
    }
  }
}
