.elinor__tag {
  @apply m-0;
  @apply bg-[#E4F0F4] transition-all duration-300 pl-3 pr-[34px] py-[6px] rounded-full relative;

  .text {
    @apply text-[14px] font-medium leading-6 text-turqy;
  }

  a {
    @apply absolute top-1/2 right-2 -translate-y-1/2 w-[24px] h-[24px] cursor-pointer;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M4.52211 5.5655L1.27586 8.8115C1.13103 8.9565 0.955445 9.02733 0.749112 9.024C0.542612 9.02083 0.366946 8.94683 0.222112 8.802C0.0772792 8.65717 0.00486242 8.47992 0.00486242 8.27025C0.00486242 8.06059 0.0772792 7.88333 0.222112 7.7385L3.45861 4.502L0.212612 1.28075C0.0676124 1.13592 -0.00322097 0.958667 0.00011236 0.749001C0.00327903 0.539501 0.0772792 0.362334 0.222112 0.2175C0.366946 0.0725003 0.544196 0 0.753862 0C0.963529 0 1.14078 0.0725003 1.28561 0.2175L4.52211 3.4635L7.74336 0.2175C7.8882 0.0725003 8.06378 0 8.27011 0C8.47661 0 8.65228 0.0725003 8.79711 0.2175C8.95228 0.3725 9.02986 0.552251 9.02986 0.756751C9.02986 0.961251 8.95228 1.13592 8.79711 1.28075L5.56061 4.502L8.80661 7.74825C8.95161 7.89309 9.02411 8.06867 9.02411 8.275C9.02411 8.4815 8.95161 8.65717 8.80661 8.802C8.65161 8.95717 8.47186 9.03475 8.26736 9.03475C8.06286 9.03475 7.8882 8.95717 7.74336 8.802L4.52211 5.5655Z" fill="%2343A0BD"/></svg>')
      center no-repeat;

    img {
      @apply hidden;
    }
  }

  &:hover {
    @apply bg-turqy;

    .text {
      @apply text-white;
    }

    a {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M4.52211 5.5655L1.27586 8.8115C1.13103 8.9565 0.955445 9.02733 0.749112 9.024C0.542612 9.02083 0.366946 8.94683 0.222112 8.802C0.0772792 8.65717 0.00486242 8.47992 0.00486242 8.27025C0.00486242 8.06059 0.0772792 7.88333 0.222112 7.7385L3.45861 4.502L0.212612 1.28075C0.0676124 1.13592 -0.00322097 0.958667 0.00011236 0.749001C0.00327903 0.539501 0.0772792 0.362334 0.222112 0.2175C0.366946 0.0725003 0.544196 0 0.753862 0C0.963529 0 1.14078 0.0725003 1.28561 0.2175L4.52211 3.4635L7.74336 0.2175C7.8882 0.0725003 8.06378 0 8.27011 0C8.47661 0 8.65228 0.0725003 8.79711 0.2175C8.95228 0.3725 9.02986 0.552251 9.02986 0.756751C9.02986 0.961251 8.95228 1.13592 8.79711 1.28075L5.56061 4.502L8.80661 7.74825C8.95161 7.89309 9.02411 8.06867 9.02411 8.275C9.02411 8.4815 8.95161 8.65717 8.80661 8.802C8.65161 8.95717 8.47186 9.03475 8.26736 9.03475C8.06286 9.03475 7.8882 8.95717 7.74336 8.802L4.52211 5.5655Z" fill="%23ffffff"/></svg>')
        center no-repeat;
      @apply opacity-100;
    }
  }
  &--sm {
    @apply h-[30px] gap-0;
    .text {
      @apply text-[12px];
    }
  }
}
